<h1 class="red row center-xs top-space"> INFORMACION DEL USUARIO</h1>
<div class=" fontsize row center-xs" >
	<%="NOMBRE"%>: <%= @register.nombre %>
</div>
<div class="fontsize row center-xs" >
	<%="TELEFONO"%>: <%= @register.telefono %>
</div>
<div class="fontsize row center-xs" >
	<%="CELULAR: 3"%><%= @register.celular %>
</div>
<div class=" fontsize row center-xs margin-bottom" >
	<%="CORREO ELECTRONICO"%>: <%= @register.email %>
</div>
